h1{
  font-size: 50px;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;

}
.half-width img{
  width: 100%;
}
h2{
  color: salmon;
}
.top-banner{
  
  background-repeat: no-repeat;

}
section{
  height: 500px;
}
body{
  background-image: url("images/background.png");
}
#name-heighlight{
  color: tomato;
}